<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>пользователь</title>
</head>
<body>
 <div class="container">
        <h2>Здесь вы можете отредактировать свой профиль, {{ object.username }}</h2>
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Update" class="btn btn-primary">
            <input type="button" value="Back" onclick="history.back();" class="btn btn-danger">
        </form>
    </div>
</body>
</html>