<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>пользователь</title>
</head>
<body>
<div class="container">
 <h2>Ваш профиль</h2>
        <table class="table table-striped">
            <tr>
                <th>Логин</th>
                <td>{{ object.username }}</td>
            </tr>
            <tr>
                <th>Фамиля</th>
                <td>{{ object.first_name }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ object.last_name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ object.email }}</td>
            </tr>
        </table>
        <a href="{% url 'auth:update_user' user.pk %}" class="btn btn-primary">Редактировать профиль</a>
    </div>
