{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> добавить книгу в корзину </title>
</head>
<body>
<div class="container">
     <h1>{{ object.book.name }}</h1>
    <form action="" method="GET" >

        <input type="hidden" name='next' value = "{{ next }}">
         <a button type="submit" class="btn btn-secondary btn-sm" href="{% url 'view_cart'%}"
          role="button">добавить в корзину</a>
       <a button type="button" class="btn btn-secondary btn-sm" href="{% url 'Book_list'%}"
          role="button">вернуться к списку книг</a>
    </form>
<div>
</body>
{% endblock %}