{% extends "base.html" %}
{% block content %}
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title>Удалить товар из корзины</title>
 </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <p>Вы действительно хотите удалить книгу "{{ object.book }}" из корзины?</p>
            <input type="submit" value="удалить" name="delete" class="btn btn-danger">
            <a href="{% url 'view_cart' %}" class="btn btn-secondary">вернуться в корзину</a>
             <a href="{% url 'Book_list'%}" class="btn btn-success">  вернуться к списку книг</a>
        </form>
    </body>
{% endblock %}
</html>