{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> корзина </title>
</head>
<body>
<div class="container">
    <h1>Корзина</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Книга</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Цена за шт.</th>
            <th scope="col">Цена всего.</th>
         <tr>
         </thead>
         <tbody>
    {% for obj in object.books_in_cart.all  %}
        <tr>
        <th scope="row">{{ obj.pk }}</th>
        <td> {{ obj.book.name }} </td>
        <td> {{ obj.quantity }} </td>
        <td> {{ obj.book.price }} </td>
        <td> {{ obj.price_total}} </td>
        <td><a href="{% url 'delete_book' obj.pk %}" class="btn btn-danger">Удалить из корзины</a></td>
     {% endfor %}
    <tr>
        <th scope="row" col="2"> Итого:</th>
        <th></th>
        <th scope="row" col="2"> {{ object.count_book }}</th>
         <th></th>
        <th scope="row" col="2">{{  object.total_price }}</th>
         <th></th>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% if object.count_book > 0 %}
                <H5>Заполните форму для оформления заказа</H5>
                <form action="{% url 'order_create' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
           <input type="submit" value="Оформить заказ" class="btn btn-secondary btn-sm">
           <td> <a href="{% url 'Book_list'%}" class="btn btn-secondary btn-sm">  вернуться к списку книг</a></td>
            {% else %}
            <td> <a href="{% url 'Book_list'%}" class="btn btn-secondary btn-sm">  вернуться к списку книг</a></td>
                </form>
            {% endif %}
       </div>
       </div>
</body>
{% endblock %}