{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> заказ оформлен </title>
</head>
<body>
    <div class="container">
        <H2>Ваш заказ принят!</H2>
        <table  align="center" cellpadding="5px" class="table">
            <tr>
                <th>Название</th>
                <th>Авторы</th>
                <th>Кол-во</th>
                <th>Цена за книгу</th>
                <th>Сумма за книги</th>
            </tr>
            {% for product in  object.cart.books_in_cart.all%}
                    <tr>
                        <td>
                            {{ product.book.name }}
                        </td>
                        <td>
                            {% for name in product.book.author.all %}
                                {{ name }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {{ product.quantity }}
                        </td>
                        <td>
                            {{ product.book.price }}
                        </td>
                        <td>
                            {{ product.price_total }}
                        </td>
                    </tr>
            {% endfor %}
            <tr>
                <th>Итого к оплате:</th>
                <td></td>
                <td></td>
                <td></td>
                <th>{{ object.cart.total_price }}</th>
            </tr>
            <tr>
                <th>
                    Адрес доставки:
                </th>
                <th colspan="4">
                    {% if object.city %}
                        {{ object.city }}
                    {% endif %}
                    {% if object.street %}
                        , ул. {{ object.street }}
                    {% endif %}
                    {% if object.building %}
                        , дом {{ object.building }}
                    {% endif %}
                    {% if object.flat %}
                        , кв. {{ object.flat }}
                    {% endif %}
                    {{ object.status }}
                </th>
            </tr>
        </table>
    </div>
 <a button type="button" class="btn btn-primary btn-lg" href="{% url 'Book_list'%}"
          role="button">вернуться к списку книг</a>
</body>
{% endblock %}