{% extends "base.html" %}
{% block content %}
 {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>заказ</title>
</head>
<body>
<div class="container">
    <h2>{{ object }}</h2>
    <h3>{{ object.cart.user }}</h3>

    <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Изменить статус" class="btn btn-success">

            <input type="button" value="К списку заказов" onclick="history.back();" class="btn btn-info">
    </form>

    <table class="table table-striped">
        <tr>
            <th>Книга</th>
            <th>Авторы</th>
            <th>Количество</th>
            <th>Цена за шт.</th>
            <th>Цена общая.</th>
        </tr>
        {% for object in object.cart.books_in_cart.all %}
            <tr>
                <td>
                    {{ object.book.name }}
                </td>
                <td>
                    {% for author in object.book.author.all %}
                        {{ author }}<br>
                    {% endfor %}
                </td>
                <td>
                    {{ object.quantity }}
                </td>
                <td>
                    {{ object.book.price }}
                </td>
             <td>
                    {{ object.price_total }}
                </td>
            </tr>

        {% endfor %}

    </table>
    <h5>ОБЩАЯ СТОИМОСТЬ:{{ object.cart.total_price }}</h5>
    <table class="table">
        <tr>
            <th>Дата создания заказа:</th>
            <td>{{ object.created_day }}</td>
        </tr>
        <tr>
            <th>Дата обновления статуса:</th>
            <td>{{ object.updated_date }}</td>
        </tr>
        <tr>
            <th>Общая сумма заказа:</th>
            <td>{{ object.cart.total_price }}</td>
        </tr>
        <tr>
            <th>Общее количество книг:</th>
            <td>{{ object.cart.count_book }}</td>
        </tr>
        <tr>
            <th>Адрес доставки:</th>
            <td>
                {% if object.city %}
                        {{ object.city }}
                {% endif %}
                {% if object.street %}
                    , ул. {{ object.street }}
                {% endif %}
                {% if object.building %}
                    , дом {{ object.building }}
                {% endif %}
                {% if object.flat %}
                    , кв. {{ object.flat }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <th>Телефон:</th>
            <td>{{ object.phone }}</td>
        </tr>
    </table>
</div>
</body>
{% endblock %}
