{% extends "base.html" %}
{% block content %}
 {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>детали заказа</title>
</head>
<body>
<div class="container">
    <h2>{{ object }}</h2>
  {% if order.status.pk == 1 %}
     Ваш заказ еще не обработан и вы можете изменить данные о доставке
    <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
         <input type="submit" value="Сохранить изменения"  class="btn btn-success">
        <a href="{% url 'order_list_cust'%}"class="btn btn-info">Вернуться к списку заказов </a>
          {% elif order.status.pk == 3 %}
      <form method="get">
      Данный заказ в стадии обработки. Изменить данные о доставке на сайте невозможно. Ожидайте доставки или обратитесь к оператору.
           <a href="{% url 'order_list_cust'%}"class="btn btn-info">Вернуться к списку заказов </a>
    {% else %}
      <form method="get">
      Данный заказ отменен.
       <a href="{% url 'order_list_cust'%}"class="btn btn-info">Вернуться к списку заказов </a>
   {% endif %}
    </form>

    <table class="table table-striped">
        <tr>
            <th>Книга</th>
            <th>Авторы</th>
            <th>Количество</th>
            <th>Цена за шт.</th>
            <th>Цена общая.</th>
        </tr>
        {% for object in object.cart.books_in_cart.all  %}
            <tr>
                <td>
                    {{ object.book.name }}
                </td>
                <td>
                    {% for author in object.book.author.all %}
                        {{ author }}<br>
                    {% endfor %}
                </td>
                <td>
                    {{ object.quantity }}
                </td>
                <td>
                    {{ object.book.price }}
                </td>
                <td>
                    {{ object.price_total }}
                </td>
            </tr>
        {% endfor %}
    </table>
   <h5>ОБЩАЯ СТОИМОСТЬ:{{ object.cart.total_price }}</h5>
    <table class="table">
        <tr>
            <th>Дата создания заказа:</th>
            <td>{{ object.created_day }}</td>
        </tr>
        <tr>
            <th>Дата обновления статуса:</th>
            <td>{{ object.updated_date }}</td>
        </tr>
        <tr>
            <th>Общая сумма заказа:</th>
            <td>{{ object.cart.total_price }}</td>
        </tr>
        <tr>
            <th>Общее количество книг:</th>
            <td>{{ object.cart.count_book }}</td>
        </tr>
        <tr>
            <th>Адрес доставки:</th>
            <td>
                {% if object.city %}
                        {{ object.city }}
                {% endif %}
                {% if object.street %}
                    , ул. {{ object.street }}
                {% endif %}
                {% if object.building %}
                    , дом {{ object.building }}
                {% endif %}
                {% if object.flat %}
                    , кв. {{ object.flat }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <th>Телефон:</th>
            <td>{{ object.phone }}</td>
        </tr>
    </table>
</div>
</body>
{% endblock %}
