{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> список заказов </title>
</head>
<body>
    <div class="container">
    <h2>ЗАКАЗЫ</h2>
        <table  cellspacing="5px" class="table table-hover">
            <tr>
               <th>
                   Пользователь
               </th>
                <th>
                   Статус заказа
               </th>
                <th>
                  Дата и время создания заказа
               </th>
                <th>
                   Общая стоимость заказа
               </th>
                <td>

               </td>
            </tr>
                  {% for object in object_list %}

                <tr>
                    <td>
                        {{ object.cart.user }}
                    </td>
                    <td>
                        {{ object.status }}
                    </td>
                    <td>
                       {{ object.created_day }}
                    </td>
                    <td>
                        {{ object.cart.total_price }}
                    </td>

                    <td>
                        <a href="{% url 'order_update_pers' object.pk %}" class="btn btn-info"> Перейти к деталям заказа</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    <td> <a href="{% url 'Book_list'%}" class="btn btn-secondary btn-sm">  вернуться к списку книг</a></td>
    </div>
</body>
{% endblock %}
