{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> список заказов </title>
</head>
<body>
    <div class="container">
    <h2>ЗАКАЗЫ</h2>
        <table  cellspacing="5px" class="table table-hover">
            <tr>
               <th>
                   Номер заказа
               </th>
                <th>
                    Статус заказа
               </th>
                <th>
                Дата и время создания заказа
                </th>
                <th>
                   Общая стоимость заказа
               </th>
                <th>
                    Комментарий к заказу
                </th>
                <th>

               </th>
             </tr>
    {% for object in object_list %}
             {% if object.cart.user == user %}
             <tr>

                   <td>
                       {{ object }}

                    </td>
                    <td>
                        {{ object.status }}
                    </td>
                    <td>
                        {{ object.created_day }}
                    </td>
                    <td>
                        {{ object.cart.total_price }}
                    </td>
                    <td>
                        {{ object.comments }}
                    </td>

                    <td>
                        <a href="{% url 'order_update_cust' object.pk %}" class="btn btn-info"> Перейти к деталям заказа</a>
                        <a href="{% url 'order_cancel_cust' object.pk %}" class="btn btn-danger"> Перейти к отмене заказа</a>
                    </td>

                </tr>
               {% elif object.cart.user == None %}
                 {{ object.cart.user }}
             <tr>

                   <td>
                       {{ object }}
                       {{ object.cart.user }}
                    </td>
                    <td>
                        {{ object.status }}
                    </td>
                    <td>
                        {{ object.created_day }}
                    </td>
                    <td>
                        {{ object.cart.total_price }}
                    </td>

                    <td>
                        <a href="{% url 'order_update_cust' object.pk %}" class="btn btn-info"> Перейти к деталям заказа</a>
                        <a href="{% url 'order_cancel_cust' object.pk %}" class="btn btn-danger"> Перейти к отмене заказа</a>
                    </td>

                </tr>
                 {% endif %}
                 {% endfor %}
          </table>
    <td> <a href="{% url 'Book_list'%}" class="btn btn-secondary btn-sm">  вернуться к списку книг</a></td>
    </div>
</body>
{% endblock %}
