<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <style>
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
 </style>
</head>
<body style="color:grey; background-color:lemonchiffon">
<div class="wrapper">
<div class="content">
    {% if user.is_authenticated %}
   {% if perms.books.view_series %}
       <h2 align="center"> Здравствуйте, сотрудник {{ user.username }}</h2>
   {% else %}
     <h2 align="center"> Добро пожаловать, уважаемый {{ user.username }} ! Самые лучшие книги для Вас только в нашем магазине!</h2>
   {% endif %}
   <a href="{% url 'auth:log_out' %}?next={{request.path}}" class="btn btn-secondary" > выйти из личного кабинета </a>
    <a href="{% url 'auth:view_user' user.pk%}" class="btn btn-secondary" > личные данные </a>
     <a href="{% url 'MainList'%}"class="btn btn-warning">Вернуться на главную </button></a> </td>
     <a href="{% url 'view_cart'%}"class="btn btn-info">Перейти в корзину </a>
          {% if perms.books.view_series %}
         <a href="{% url 'order_list_pers'%}"class="btn btn-info">Перейти к заказам покупателей </a>
          {% else %}
          <a href="{% url 'order_list_cust'%}"class="btn btn-info">Перейти к заказам </a>
          {% endif %}
     {% else %}
     <h2 align="center"> Добро пожаловать, покупатель ! Самые лучшие книги для Вас только в нашем магазине!</h2>
       <p> Перейдите по ссылке и для входа в личный кабинет или пройдите регистрацию</p>
   <a href="{% url 'auth:log_in' %}?next={{request.path}}" class="btn btn-secondary"> Войти </a>
    <a href="{% url 'auth:create_user' %}?next={% url  "MainList" %}" class="btn btn-secondary" >Регистрация</a>
         <a href="{% url 'MainList'%}"class="btn btn-warning">Вернуться на главную </button></a> </td>
     <a href="{% url 'view_cart'%}"class="btn btn-info">Перейти в корзину </a>
          <a href="{% url 'order_list_cust'%}"class="btn btn-info">Перейти к заказам </a>
    {% endif %}
    {% block content %}{% endblock %}
   </div>
   <div class="footer">
    {% block footer %}
     <h6 class="nav justify-content-center"> Спасибо, что посетили наш сайт!</h6>
     <h6 class="nav justify-content-center"> © Copyright 2019 Vitaly Kulinkovich</h6>
    {% endblock %}
   </div>
 </div>
</body>
</html>