<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <style>

 </style>
</head>
<body style="color:grey; background-color:lemonchiffon">

        <h2 align="center"> Пожалуйста, введите свой логин и пароль</h2>
    {% block content %}{% endblock %}
   </div>
   <div class="footer">
    {% block footer %}
     <h6 class="nav justify-content-center"> Спасибо!</h6>
    {% endblock %}
</body>
</html>