{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> Document </title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить и перейти к списку авторов" name="list">
        <input type="submit" value="Сохранить и перейти к данному автору" name="detail">
    </form>
</body>
{% endblock %}