{% extends "base.html" %}
{% block content %}
{% load book_bool %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Список книг </title>
<style type="text/css">
 th {color:dimgray;}
 td {color:indigo;}
</style>
</head>
<body style="color:grey; background-color:lemonchiffon">
<p></p>
<form method="GET">
    <input type="text" name="q" />
     <button type="submit"><i class="fas fa-search"></i> Поиск по названию книги и автору</button>
</form>
<a href="{% url 'view_cart'%}"class="btn btn-info">Перейти в корзину </button></a> </td>
<table class="table table-striped">
  <tr>
   <th> Название книги </th>
   <th> Обложка </th>
  {% if perms.books.view_series %} <th> Доступна для клиента </th> {% else %} <th> Цена </th> {% endif %}
  <th></th>
   <th colspan="4" align="center" > Действия</th>
  <tr>
  <tr>
        {% if perms.books.view_series %}
          {% for object in object_list %}
      <tr>
       <td> <a class="btn btn-link" href="{% url 'Book_detail' object.pk%}"role="button">{{ object.name }}</a></td>
       <td> <img src="{{ object.image.url }}"  class="logo" width="70" height="70"></td>
       <td> {{object.active|boolparser}}</td>
       <td> <a href="{% url 'Book_detail' object.pk%}"> <i class="fas fa-eye"></i> </a></td>
       <td> <a href="{% url 'Book_upd' object.pk%}"> <i class="fas fa-edit"></i> </a> </td>
       <td> <a href="{% url 'Book_del' object.pk%}"> <i class="fas fa-trash-alt"</i> </a></td>
      <td> <a href="{% url 'Cart_upd' object.pk%}"><i class="fas fa-cart-plus"></i></a></td>
         {% endfor %}
        {% else %}
          {% for object in object_list %}
              {% if object.active %}
           <tr>
       <td> <a class="btn btn-link" href="{% url 'Book_detail' object.pk%}"role="button">{{ object.name }}</a></td>
       <td> <img src="{{ object.image.url }}"  class="logo" width="70" height="70"></td>
       <td> {{object.price}}</td>
       <td></td>
       <td> <a href="{% url 'Book_detail' object.pk%}"> <i class="fas fa-eye"></i> </a></td>
       <td> <a href="{% url 'Cart_upd' object.pk%}"><i class="fas fa-cart-plus"></i></a></td>
              {% endif %}
           {% endfor %}
          </tr>
  {% endif %}
   <table>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</body>
{% endblock %}
