{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> измененить книгу </title>
</head>
<body style="color:dimgray; background-color:lightsteelblue" >
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">

    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
       {{ form.as_p  }}
        <input type="submit" value="Сохранить и перейти к списку книг" name="list">
        <input type="submit" value="Сохранить и перейти к данной книги" name="detail">
    </form>
        </div>
        </div>
</body>
{% endblock %}