﻿{% extends "base.html" %}
{% block content %}
{% load book_bool %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <title> {{object.name}}</title>
<style type="text/css">
p {color:indigo;}
li {color:indigo;}
</style>
 </head>
<body style="color:grey; background-color:khaki" >
<div class="nav justify-content-center"  >
<div  class="card text-white bg-info mb-3" class="center" style="max-width: 18rem;">
    <a class="btn btn-success btn-lg btn-block"href="{% url 'Book_list'%}"role="button">вернуться к списку книг </a>
     <div  class="card-header"   >Описание книги:</div>
     <div class="col image-container"  class="col-4">
     <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-fluid">
     </div>
    <p><strong>Название книги: </strong>{{object.name}}</p>
    <p><strong>Цена: </strong>{{object.price}}</p>
    <p><strong> Авторы </strong> {% for a in book.author.all%}
    <li>{{ a.name }} </li>
   {% endfor %}</p>
     <p><strong>Серия: </strong>{{object.series}}</p>
    <p><strong> Жанры</strong>  {% for g in book.genre.all%}
    <li>{{g.name}}</li>
   {% endfor %}</p>
    <p><strong>Год выпуска:  </strong>{{object.year}}</p>
    <p><strong>Количество страниц:  </strong>{{object.pages}}</p>
    <p><strong>Переплёт:  </strong>{{object.binding}}</p>
    <p><strong>Формат:  </strong>{{object.format}}</p>
    <p><strong>Уникальный номер:  </strong>{{object.isbn}}</p>
    <p><strong>Вес:  </strong>{{object.weight}}</p>
    <p><strong>Возрастные ограничения:  </strong>{{object.age_restr}}</p>
    <p><strong>Издательство:  </strong>{{object.publish}}</p>
    <p><strong>Кол-во книг в налиичии:  </strong>{{object.quantity}}</p>
    <p><strong>Доступна для заказа:  </strong>{{object.active|boolparser}}</p>
    <p><strong>Рейтинг:  </strong>{{object.rate}}</p>
    <p><strong>Комментарии: </strong>{{object.comment}}</p>
    <p><strong>Дата создания:  </strong>{{object.created_date}}</p>
    <p><strong>Дата изменения:  </strong>{{object.change_date}}</p>
    <td> <a href="{% url 'Cart_upd' object.pk%}" class="btn btn-secondary" >добавить в корзину </a></td>
</div>
</div>
</div>
  </body>
{% endblock %}
