{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA - Compatible" content="ie=edge">
    <title> Document </title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
         Вы уверены, что хотите удалить книгу?
        <input type="submit" value="удалить книгу"> <name="delete">
        <td> <a href="{% url 'Book_list'%}">вернуться к списку книг</a></td>
        </form>
</body>
{% endblock %}
