{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> {{object.name}}</title>
</head>
<body>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <a class="btn btn-success" href="{% url 'Genre_list'%}"role="button">вернуться к списку жанров </a>
     <div class="card-header">Описание жанра:</div>
    <p><strong>Название: </strong>{{object.name}}</p>
 </div>
</body>
{% endblock %}
