{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная страница</title>
</head>

<style>
.center-img {
  display: block;
  margin: 0 auto;
  width:240px;
  height: 240px;
}
</style>
<body>

<table border = "1">
<tr>
      <h1 class="card-header" align="center" > КАТЕГОРИИ:</h1>
<tr>
<tr>
<img src="{% static "book2.jpg" %}" class="center-img" >
<a button type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'Book_list' %}"role="button">{{ Book_list }}</a>
<tr>
 <a button type="button" class="btn btn-info btn-lg btn-block" href="{% url 'Book_detail' pk=5 %}"> Новинка! Лучший бестселлер!</a>
</tr>
<tr>
 <a button type="button" class="btn btn-info btn-lg btn-block" href="{% url 'Book_detail' pk=8 %}"> Новинка! Открытие в науке! </a>
</tr>
<tr>
  {% if perms.books.view_series %}
    <a button type="button" class="btn btn-secondary btn-lg btn-block" href="{% url 'Reference'%}"role="button">Список справочников</a>
  {% endif %}
<tr>
<table>

</body>
{% endblock %}

