{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Список издательств </title>
</head>
<body>
<form method="GET">
    <input type="text" name="q" />
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
<a href="{% url 'Publish_add'%}"class="btn btn-light">Добавить новое издательство</button></a>
<a href="{% url 'Reference'%}"class="btn btn-success">Вернуться к списку справочников</a>
   <table class="table table-dark">
   <tr>
       <th> Название </th><th colspan="3" scope ="center" > Действия</th>
   <tr>
{% for object in object_list %}
      <tr>
       <td> <a class="btn btn-primary"  href="{% url 'Publish_detail' object.pk%}"role="button">{{ object.name }}</a> </td>
       <td> <a  href="{% url 'Publish_detail' object.pk%}" <i class="fas fa-eye"></i> </a></td>
       <td> <a  href="{% url 'Publish_upd' object.pk%}"><i class="fas fa-edit"></i></a></td>
       <td> <a href="{% url 'Publish_del' object.pk%}"><i class="fas fa-trash-alt"></i></a></td>
      <tr>
{% endfor %}
   </table>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</body>
{% endblock %}
