{% extends "base.html" %}
 {% block content %}
<head>
    <title>Список справочников</title>
</head>
<body>
 {% if not perms.books.view_series %}
 <meta http-equiv="refresh" content="0;url=http://127.0.0.1:8000/books/main/">
 {% endif %}
<table border = "1">
<tr>
  <a <button type="button" class="btn btn-link" href="{% url 'MainList'%}"role="button">Вернуться на главную страницу</a>  </td>
<tr>
<tr>
      <h1 class="card-header" align="center" > Справочники:</h1>
<tr>
<tr>
    <a button type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'Author_list' %}"role="button">{{ A_list }}</a>
<tr>
<tr>
    <a button type="button" class="btn btn-danger btn-lg btn-block" href="{% url 'Series_list' %}"role="button">{{ S_list }}</a>
<tr>
<tr>
    <a button type="button" class="btn btn-success btn-lg btn-block" href="{% url 'Genre_list' %}"role="button">{{ G_list }}</a>
<tr>
<tr>
    <a button type="button" class="btn btn-secondary btn-lg btn-block" href="{% url 'Publish_list' %}"role="button">{{ P_list }}</a>
<tr>
<tr>
    <a button type="button" class="btn btn-dark btn-lg btn-block" href="{% url 'Binding_list' %}"role="button">{{ B_list }}</a>
</tr>
<table>
</body>
{% endblock %}
